<h1><%= @user.name %>'s Account</h1>

<p style="text-decoration: underline;">Your Info</p>
<p><%= @user.name %></p>
<p><%= @user.email %></p>
<%= image_tag @user.pic, :class => "prof_pic" %>
<%= button_to "Edit My Info", edit_user_path(@user.id), :method => "get" %>

<h3>Tools I've Checked Out</h3>
<% if @tools.empty? %>
  <p>No tools currently checked out.</p>
<% else %>
  <div class="account_tools_container">
    <% @tools.each do |tool| %>
      <div class="account_tool">
        <p><%= tool.item %></p>
        <%= image_tag(tool.pic, :class => "tool_pic") %>
      </div>
    <% end  %>
  </div>
<% end %>
