<h1><%= @user.name.capitalize %>'s Account</h1>
<br />
<br />

<div class="centered-content">
<p style="text-decoration: underline;"><em>Your Info:</em></p>
<p><%= @user.name %></p>
<p><%= @user.email %></p>
<%= image_tag @user.pic, :class => "prof_pic" %>
<br />
<br />
<%= button_to "Edit My Info", edit_user_path(@user.id), :method => "get" %>
<br />
<br />
</div>

<div class="centered-content">
<h3>Tools I've Checked Out</h3>
<% if @tools.empty? %>
  <p>No tools currently checked out.</p>
<% else %>
  <div class="account_tools_container">
    <% @tools.each do |tool| %>
      <div class="account_tool">
        <p><%= tool.item %></p>
        <%= image_tag(tool.pic, :class => "tool_pic") %>
      </div>
    <% end  %>
  </div>
<% end %>
</div> <!-- end of centered-content -->
