<h1>Current Weather in <%= @weather["name"] %></h1>
<h2><%= @weather["weather"][0]["main"] %>
<h2><%= @weather["main"]["temp"].to_i %> degrees Farenheit</h2>
<p>Today's high is: <%= @weather["main"]["temp_min"].to_i %> and today's low is: <%= @weather["main"]["temp_max"].to_i %></p>
<p>Wind: <%= convert_wind_to_mph(@weather["wind"]["speed"].to_i) %> MPH(???)</p>
<p>Humidity: <%= @weather["main"]["humidity"] %>%</p>

<h1>Five-Day Forecast</h1>
<h2>Tomorrow:</h2>


<p>Expect <%= @forecast[1]["symbol"]["name"] %></p> <!-- @forecast[0] is today -->
<p>Low: <%= @forecast[1]["temperature"]["min"] %> F</p>
<p>High: <%= @forecast[1]["temperature"]["max"] %> F</p>
<p>Wind: <%= convert_wind_to_mph(@forecast[1]["windSpeed"]["mps"]) %> mph</p>
<p>Humidity: <%= @forecast[1]["humidity"]["value"] %>%</p>
