<h1><%= @post.name %></h1>

<h2>By <%= @post.author %></h2>

<%= image_tag @post.pic %>

<%= @post.content.html_safe %>

<% if current_user.admin %>
  <%= button_to "Edit", edit_post_path, :method => "get" %>
<% end %>
