<h1>Create a new Community Activity!</h1>

<!--  possibly have newly created event moderated by admin? they can approve or deny? -->

<%= bootstrap_form_for @activity, :url => create_activity_path do |f| %>
<%= f.text_field           :author %>
<%= f.text_field           :name %>
<%= f.datetime_local_field :start_date %>
<%= f.datetime_local_field :end_date %>
<%= f.text_field           :location %>
<%= f.submit %>
<% end %>
