<h1><%= @activity.name %></h1>
<p>
  <%= @activity.start_date %> - <%= @activity.end_date %>
</p>
<ul>
  <li>What is it? <%= @activity.description %></li>
  <li><%= @activity.location %></li>
  <li>Created by: <%= @activity.author %></li>
  <hr />
</ul>
