<!DOCTYPE html>
<html>
<head>
  <title>HoneyDew</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Home", root_path %>
  
  <div class="container-fluid">
  <% if logged_in? %>
      <div class="logged_in">
        <p><%= current_user.name %></p>
        <p><%= link_to image_tag(current_user.pic, :class => "prof_pic"), user_path(current_user.id) %></p>
      </div>
    <%= button_to "Log Out", logout_path, :method => "get" %>
    <%= button_to "Home", root_path, :method => "get" %>
  <% else %>
    <p>
      Log in with Twitter: <%= link_to image_tag("twitter.png", :class => "login"), "/auth/twitter" %>
    </p>
  <% end %>

  <div id="flash-msg">
    <% flash.each do |name, msg| %> <!-- flash message provided by rails-->
    <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
  </div>

<%= yield %>
</div>
</body>
</html>
